@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

:root {
  --texto-principal: #a4367f;
  --bg-desktop: url(./assets/bg-desktop.jpg);
  --texto-secao: #ff1880;
  --texto-padrao: #000000;
}

header #logo {
  background: black;
  height: 76px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

header #logo img {
  height: 19.28px;
  margin-top: 28px;
}

#hero1 {
  background: var(--bg-desktop) no-repeat top center/cover;
}

#headline {
  width: 600px;
  padding: 5% 0 4% 15%;
}

#headline h1 {
  color: var(--texto-principal);
  font-size: 36px;
  font-weight: 300;
}

#headline h2 {
  color: var(--texto-principal);
  font-size: 20px;
  font-weight: 500;
  margin-top: 21px;
  text-transform: uppercase;
}

#headline p {
  padding-top: 8px;
  color: var(--texto-principal);
  font-weight: 300;
  font-size: 16px;
}

#headline ul li {
  list-style-type: none;
  padding: 11px 36px;
  background-color: #2db369;
  color: white;
  text-align: center;
  border-radius: 5px;
  margin-top: 25px;
}

a {
  text-decoration: none;
}

#secao2-principal {
  display: flex;
  flex-direction: row;
  color: var(--texto-secao);
  display: flex;
  justify-content: center;
  color: var(--texto-secao);
  display: flex;
}

#secao2-principal h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 126%;
  padding-top: 120px;
}

#secao2-principal p {
  color: var(--texto-padrao);
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 17px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}

#secao2-interna {
  padding-left: 60px;
}

.icones-secao2 {
  width: 135px;
  height: 135px;
  padding: 5px;
}

#secao3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#eficacia {
}

#eficacia h2 {
  color: var(--texto-secao);
  font-size: 40px;
  font-weight: 300;
  line-height: 126%;
  padding-top: 120px;
}

#eficacia p {
  color: var(--texto-padrao);
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 17px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}

#testes {
  background-color: #fff8f3;
  margin-left: 30px;
  border-radius: 36px;
  margin-top: 120px;
  padding: 30px;
}

#testes p {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 8px;
}

#teste1 span {
  padding-left: 37%;
}

.progress {
  background: #ffcfe4;
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 15px;
  width: 350px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #ff1880;
  border-radius: 100px;
  background: #ff1880;
  height: 10px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 68%;
  }
}
